body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.one .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 260px;
}    
    

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.one {
    background-color: #1f2937;
    color: #f9faf8;
}    

.header-logo {
    font-weight: bold;
    font-size: 24px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 20px
        
}

.hero {
    display:flex;
    height: 250px;
    margin: 50px 0; 
    justify-content: space-around;    
}

button {
    background-color: #3883f6;
    color: #f9faf8;
    padding: 8px 20px;
    width: 100px;
    align-items: center;
    display: flex;
    font-weight: bold;
    border-radius: 10px;
}

.hero-main {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
} 

.hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.info .header {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.info-content {
    display: flex;
    justify-content: space-around;
}

.info-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;
    border: 3px solid #3882f6;
}

.info-image {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;
}




